@media (max-width:1300px){
    /* 2 Navbar */
    .header_wrapper .menu-navbar-nav{
        width: auto;
    }
    .banner_wrapper .banner-title{
        font-size: 50px;
    }
}




@media (max-width:1230px){
    /* 2 Navbar */
    .header_wrapper .nav-item{
        margin: 0 5px;
    }
    /* /* .header_wrapper .btn{
        padding: 12px 10px !important;
    } */
    /* .header_wrapper .nav-item .nav-link{
        font-size: 16px;
    } */
}



@media (max-width:991px){
    /* 2 Navbar */
   .header_wrapper .navbar-brand img{
    width: 180px;
   }
   .header_wrapper .navbar-toggler:focus{
    box-shadow: none;
   }
   .header_wrapper .menu-navbar-nav{
    text-align: center;
   }
   .header_wrapper .nav-item .nav-link{
    margin-top: 15px;
    font-size: 18px;
   }
   .header_wrapper .nav-item .btn{
    margin-top: 15px;
   }
   .header_wrapper .btn{
    padding: 12px 29px !important;
   }
   .header_wrapper .navbar-collapse{
    background: var(--bg-black);
   }
   .banner_wrapper .banner-title{
    font-size: 36px;
   }
}

@media (max-width:767px){
    /* Banner */
    .banner_wrapper{
        padding: 100px 0 100px;
    }
    .banner_wrapper .row{
        flex-direction: column-reverse;
    }
    .banner_wrapper .btn-section{
        justify-content: center;
    }
}